.navbar {
  border-bottom: 3px solid black;
  position: relative;
  overflow: hidden;
  .navbar-more {
    display: flex;
    font-size: 20px;
    @include korean;
    font-weight: 500;
    justify-content: end;
    padding: 20px 30px;
    position: absolute;
    right: 0;
    transform: translateX(310px);
    transition: 1s cubic-bezier(0.8, 1.7, 0.8, 1.1);
  }

  .navbar-more-header {
    h1 {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .navbar-more-item {
    margin-left: 20px;
    display: flex;
    gap: 15px;
    h2 {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .navbar-box {
    padding: 60px 80px 20px 80px;
    display: flex;
    align-items: end;
    justify-content: center;
    justify-content: space-between;
    .navbar-header {
      h1 {
        font-size: 100px;
        @include english;
        font-weight: bold;
      }
    }
    .navbar-item {
      display: flex;
      gap: 15px;
      h2 {
        @include korean;
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .showMoreItem {
    transform: translateX(0);
  }
}
