.search-new {
  @include korean;
  .new-header {
    margin: 50px 0px;
    padding-left: 80px;
    h1 {
      font-size: 50px;
      font-weight: 500;
    }
  }
  .new-book {
    padding: 0px 20px;
    .new-book-box {
      display: flex;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      padding: 0px 50px;
      position: relative;
      .new-book-img {
        border-right: 2px solid black;
        height: 100%;
        padding: 10px;
        img {
          width: 350px;
          border: 1px solid black;
        }
      }
      .new-book-text {
        display: flex;
        flex-direction: column;
        padding: 10px;
        gap: 25px;
        > h1:first-child {
          font-size: 30px;
          margin-top: 30px;
        }
        > h1:nth-child(2) {
          font-size: 20px;
          line-height: 28px;
        }
        > h1:last-child {
          text-align: end;
          font-size: 20px;
          font-weight: 400;
          position: absolute;
          bottom: 20px;
          right: 20px;
        }
      }
    }
    .new-book-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;
      button {
        border: none;
        padding: 20px 40px;
        font-size: 20px;
        border-radius: 15px;
        transition: all 0.3s;
        &:hover {
          background-color: var(--purple);
          color: white;
        }
      }
    }
  }
}
